DB_USER=user
DB_PASSWORD=poner_aqui_tu_password_segura
DB_NAME=db_name
DB_HOST=name
DB_PORT=xxxx

# --- CONFIGURACIÓN DE CACHÉ (REDIS) ---
REDIS_HOST=redis
REDIS_PORT=xxxx

# --- SEGURIDAD Y AUTENTICACIÓN ---
JWT_SECRET=un_hash_seguro_y_largo_para_jwt_tokens
JWT_EXPIRES_IN=8h

# --- PUERTOS DEL SISTEMA ---
PORT=xxxx
CORS_ORIGIN=local
